.card {
  background-color: cornflowerblue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  height: 406px;
  width: 881px;
  padding: 22px;
}

.card img {
  width: 317px;
  padding-right: 10px;
  float: left;
  border: 10px solid white;
  margin-right: 10px;
}
