<div *ngIf="member" class="card">
  <h3>{{member.firstName}} {{member.name}} </h3>
  <img [src]="url + 'small_' + member.imageName" [alt]="member.firstName + member.name"><br>
  carte n° : {{ member.id }} <br>
  date de naissance: {{member.dob | date: 'dd/LL/yyyy' }} <br>
  date d'abonement : {{member.dateOfSubscription | date: 'dd/LL/yyyy'}} <br>
  rue : {{member.address.street}} <br>
  complement : {{member.address.streetComplement}} <br>
  code postal : {{member.address.zip}} <br>
  ville : {{member.address.town}} <br>
</div>
