.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.2em;
}
.snapshot {
  text-align: center;
}
.snap .img {
  max-width: 800px;
  max-height: 800px;
}
.spinner {
  widows: 50px;
  vertical-align: middle;
}
.message {
  text-align: center;
  color: green;
  font-size: x-large;
}
