<h1 style="text-align:center;">Nouveau membre</h1>

<div class="snapshot">
  <div *ngIf="isPreviewVisible">
    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" [videoOptions]="videoOptions"
      [imageQuality]="1" (initError)="handleInitError($event)">
    </webcam>
    <br />
    <button class="actionBtn" (click)="triggerSnapshot()">prendre une photo</button><br>
  </div>
  <label for="visibilityChk">{{togglePreviewMessage}}</label>
  <input type="checkbox" name="visibilityChk" id="visibilityChk" (click)="togglePreviewVisibility()">
</div>
<div *ngIf="!pictureProcessed">
  <div *ngIf="webcamImage">
    <h2>C'est dansla boite</h2>
    <img [src]="webcamImage.imageAsDataUrl" alt="">
    <button class="actionBtn" (click)="upload()">Sauvegarder la photo</button>
    <span *ngIf="pleaseWait">
      <img src="../assets/images/spinner-pink.gif" alt="" class="spinner">
    </span>
  </div>
</div>
<div class="message">
  {{message}}
</div>
<br>
<br>
<div *ngIf="pictureProcessed">
  <app-member-form [imageName]="imageHash + '.jpg'"></app-member-form>

</div>
<router-outlet></router-outlet>
