<div *ngIf="!showMemberDetails">
  <form [formGroup]="createMember" (ngSubmit)="create()">
    <label for="name">Nom</label><br>
    <input formControlName="name" type="text" name="name" id="name" placeholder="nom"><br>
    <label for="firstName">Prenom</label>
    <input formControlName="firstName" type="text" name="firstName" id="firstName" placeholder="prenom"><br>
    <label for="dob">date de naissance</label>
    <dp-date-picker formControlName="dob" placeholder="date de naissance" [config]="datePickerConfig"></dp-date-picker>
    <br>
    <label for="dateOfSubscription">date de souscription</label>
    <dp-date-picker id="dateOfSubscription" formControlName="dateOfSubscription" placeholder="Date de souscription"
      [config]="datePickerConfig">

    </dp-date-picker>
    <div formGroupName="address">
      <label for="street">Rue</label>
      <input type="text" formControlName="street" name="street" id="street" placeholder="le nom de la rue"><br>
      <label for="streetComplement">Complement d'adresse</label>
      <input type="text" formControlName="streetComplement" name="streetComplement" id="streetComplement"
        placeholder="votre complement d'adresse"><br>
      <label for="zip">cp</label>
      <input type="text" formControlName="zip" id="zip" name="zip" placeholder="votre cp"><br>
      <label for="town">Ville</label>
      <input type="text" formControlName="town" id="town" name="town" placeholder="votre ville">
    </div>
    <button type="submit" class="btn btn-primary">Creer</button>
  </form>
</div>
<div *ngIf="showMemberDetails">
  <app-member-details [member]="saveMember"></app-member-details>
</div>
